.forgot-card {
  width: 430px;  
  height: 410px;               /* smaller card like design */
  background: #ffffff;
  
  border-radius: 16px;
  padding: 28px 24px;
  border: 1px solid #f1f3f5;
  /* border-color: black; */

}
.forgot-card h4{
  font-size: 20px;
  font-weight: 600;
   margin-bottom: 4px;
}

.forgot-card p{
  font-size: 13px;
   margin-bottom: 5px;
}

/* Divider */
.forgot-card hr {
  margin: 12px 0;
  border-top: 1px solid rgba(226, 232, 240, 1) !important;
   margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.back-btn {
  margin-top: 14px;
  text-align: center;
  font-size: 14px;
  color: #344054;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
  font-weight: bold;
}