/* Card */
.reset-card {
  width: 430px;
  height: 450px; /* smaller card like design */
  background: #ffffff;
  border-radius: 16px;
  padding: 28px 24px;
  border: 1px solid #f1f3f5;
}
.reset-card h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.reset-card p {
  font-size: 13px;
  margin-bottom: 8px;
}
/* Avatar circle */
.avatar {
  width: 88px;
  height: 88px;
  border-radius: 96px;
  background: #f1f3f7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.avatar img {
  width: 88px;
  height: 88px;
  opacity: 1;
}

/* Divider */
.reset-card hr {
  margin: 12px 0;
  border-top: 1px solid rgba(226, 232, 240, 1) !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
